.containerError {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'alumni sans', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(255, 0, 0);
    text-align: center;
    background-color: black;
    padding: 30px;
    border-radius: 15px;
  }
  
h1 {
    margin: 0;
    font-size: 96px;
    font-weight: 700;
}
.textError404 {
    font-size: 18px;
    font-weight: 500;
}
    .unfindedPage {
        font-style: italic;
    }
.linkErrorPage {
    color: white;
    font-size: 14px;
    font-weight: 500;
}

/* Styles pour les écrans de 600px ou plus */
@media screen and (min-width: 600px) {
    h1 {
        font-size: 192px;
    }
}
