.services {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.servicesTitle {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    text-shadow:8px 8px 8px rgba(22, 60, 248);
    background-color: rgba(1, 1, 1);
    padding: 10px 20px;
    border-radius: 15px;
    color: rgb(42, 77, 248); 
}
.services__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90vw;
    margin: 30px auto;
}
.cardServices {
    background-color: rgb(102, 132, 234);
    border-radius: 15px;
    box-shadow: 4px 4px 4px;
    padding: 5px;
    text-align: center;
    width: 35vw;
    height: 60vh;
}
    .cardTitle {
        color: white;
        background-color: black;
        border-radius: 30px;
        box-shadow: 0 4px 4px rgb(49, 47, 47);
        padding: 4px;
        font-size: 35px;
        margin: 10px;
    }
    .CardDescription {
        height: 70%;
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
        margin: auto;
    }
    .CardDescription li {
        list-style-type: none;
        background-color: white;
        border-radius: 30px;
        border: solid 2px Black;
        box-shadow: 0 4px 4px;
        padding: 4px;
        font-size: 20px;
    }
.linkPortfolio {
    text-decoration: none;
    color: black;
}
.linkPortfolio:hover {
    font-weight: bolder;
}

@media screen and (max-width: 1099px){ 
    .services__cards {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 10%;
    }
        
        .cardServices {
            width: 70%;
            height: 405px;
        }
            .cardTitle {
               font-size: 25px;
          }
          .CardDescription {
            display: flex;
            gap: 9px;
            margin-top: 25px;
          }

}
