.services {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.servicesTitle {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    text-shadow:8px 8px 8px rgba(255, 0, 0);
    background-color: rgba(1, 1, 1);
    padding: 10px 20px;
    border-radius: 15px;
    color: red; 
}
.services__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90vw;
    margin: 30px auto;
}
.cardServices {
    background-color: rgb(201, 196, 196);
    border-radius: 15px;
    box-shadow: 4px 4px 4px;
    padding: 5px;
    text-align: center;
    width: 30vw;
    height: 50vh;
}
    .cardTitle {
        color: white;
        background-color: black;
        border-radius: 30px;
        box-shadow: 0 4px 4px rgb(49, 47, 47);
        padding: 4px;
        font-size: 35px;
    }
    .CardDescription {
        height: 70%;
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
        margin: auto;
    }
    .CardDescription li {
        list-style-type: none;
        background-color: white;
        border-radius: 30px;
        border: solid 2px Black;
        box-shadow: 0 4px 4px;
        padding: 4px;
        font-size: 20px;
    }
.linkPortfolio {
    text-decoration: none;
    color: black;
}
.linkPortfolio:hover {
    font-weight: bolder;
}

@media screen and (max-width: 1099px){ 
    .services__cards {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 10%;
    }
        .cardServices {
            width: 70%;
        }

}
