.navbar {
    position: absolute;
    top: 0;
    background-color: black;
    color: #fff;
    width: 20%;
    height: 100vh;
    margin-left: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  .navbar__title {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-size: 50px;
      }
  .navbar__link {
    font-family: 'alumni sans', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    list-style-type: none;
    padding: 0;
    width: 60%;
    margin: auto;
  }
    .navbar__link li {
        margin:45px 0;
        cursor: pointer;
    }
    .navbar__btn li{
        padding: 10px;
    }
    .navbar__btn--github {
        border:2px solid rgba(255, 0, 0);;
        background-color: rgba(255, 0, 0, 0.2);
    }
    .navbar__btn--contact {
        border:2px solid rgba(44, 144, 238);
        background-color: rgba(44, 144, 238, 0.2);
    }


   @media screen and (max-width: 1400px) {
    .navbar__title{
        font-size: 35px;
    }
 } 

 @media screen and (max-width: 1255px) {
  .navbar__link li{
      font-size: 14px;
  }
} 