.projectCard {
    background-color: #F6F6F6;
    position:absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    width: 60%;
}
.divCarousel {    
    position: relative;
}
.itemPicture {
    width: 100%;
    height: 255px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}
    .buttonCarousel {
        display: flex;
        position: absolute;
        top:127.5px;
        border-radius: 5px;
        background-color: transparent;
        border-style: none;
    }
        .btnCarouselRight{  
            right: 0;
        }
        .indexCurrentImg{
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
          }
          .indexCurrentImg p{
            color: #F6F6F6;
          }
.itemTitle {
    font-weight: 500;
    font-size: 22px
}
.itemTags {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
}
.itemTags li {    
    white-space: nowrap;
    background-color: #FF6060;
    border-radius: 5px;
    color: white;
    padding: 5px 20px;
}    
.itemSkills {
    max-width: 100%;
    height: auto;
    text-align: left;
    margin-top: 0;
    padding: 20px 0px 10px 4px;
    font-size: 12px ;
    font-weight: 400;
    border-radius: 0 0 5px 5px;
    background-color: #F6F6F6 ;
    list-style-type: none;
}
.error{
    text-align: center;
    font-size: 25px;
}

@media screen and (min-width: 810px) {
    .Sheet {
        margin: 0 100px;
        min-height: 900px;
    }
    .buttonCarousel{
        top: 200px;
    }
    .collapsSheet{
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 150px;
    }
    .buttonCollaps {
        min-width: 37vW;
    }
    .itemSkills {
            width: 36.6vW;

        }
}
