.projectCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%) ;
    background-color: rgb(229, 226, 226);
    border-radius: 15px;
    width: 60%;
    height: auto;
    padding: 2%;
}
.divCarousel {    
    position: relative;
}
.itemPicture {
    width: 600px;
    height: 600px;
    object-fit: contain;
    margin-bottom: 20px;
}
    .buttonCarousel {
        display: flex;
        position: absolute;
        top: 285px;
        background-color: transparent;
        border-style: none;
    }
        .btnCarouselRight{  
            right: -60px;
        }
        .btnCarouselLeft{  
            left: -60px;
        }
        .indexCurrentImg .index{
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
            background-color: black;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            text-align: center;
        }
          .indexCurrentImg p{
            color: white;
          }
      
.itemTitle {
font-weight: 500;
font-size: 22px;
width: 80%;
margin: auto;
}
.openCollaps.open {
    transform: rotate(45deg); /* Rotation de 90 degrés */
    transition: transform 0.3s ease; /* Ajoute une transition pour une animation fluide */
  }
  .openCollaps.closed {
    transform: rotate(0deg); /* Rotation de 90 degrés */
    transition: transform 0.3s ease; /* Ajoute une transition pour une animation fluide */
  }
.buttonCollaps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    width: 600px;
    border: none;
    border-radius: 15px;
    background-color: rgb(211, 76, 76);
    margin-bottom: 12px;
}
.itemSkills {
    width: 98%;
    height: auto;
    text-align: center;
    line-height: 2;
    margin: -7% auto 15px;
    padding: 30px 0px 10px 4px;
    font-size: 22px ;
    font-weight: 400;
    border-radius: 0 0 5px 5px;
    background-color: rgb(211, 76, 76, 0.4) ;
    list-style-type:none;
}
.error{
    text-align: center;
    font-size: 25px;
}

@media screen and (max-width: 1099px) {
    .projectCard {
        width: 80%;
    }
}

@media screen and (max-width: 849px){
.itemPicture{
    width: 400px;
    height: 400px;
    object-fit: contain;
    margin-top: 35px;
}
.buttonCarousel {
    position: absolute;
    top: 200px;
}
    .btnCarouselRight{  
        right: -20px;
    }
    .btnCarouselLeft{  
        left: -20px;
    }
.indexCurrentImg .index{
    position: absolute;
    bottom:10px;
}
.buttonCollaps {
    width: 400px;
    font-size: 16px;
    }
    .itemSkills{
        font-size: 16px;
    }
}

@media screen and (max-width: 499px) {

    .projectCard {
        width: 100%;
        border-radius: 0;
    }
    .itemPicture{
        width: 280px;
        height: 380px;
    }
    .indexCurrentImg .index{
        width: 147px;
        height: 50px;
        border-radius: 0;
    }
    .buttonCarousel {
        position: absolute;
        top: auto;
        bottom: 25px;
    }
        .btnCarouselRight{  
            right: 30px;
        }
        .btnCarouselLeft{  
            left: 30px;
        }
        .buttonCollaps {
            width: 280px;
            font-size: 13px;
            }
            .itemSkills{
                font-size: 13px;
            }
        }

