.footer {
    background-color: rgba(5, 5, 5, 0.6);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
  }
.footerText {
    color: red;
    margin: 7px 0;
}
.footerLink {
    text-decoration: none;
    color:red;
    font-weight: bold;
}