.footer {
    background-color: rgba(5, 5, 5, 0.6);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    margin-top: 10px;
  }
.footerText {
    color: red;
    margin: 7px 0;
}
.footerLink {
    text-decoration: none;
    color:red;
    font-weight: bold;
}
@media screen and (max-width: 799px) {
    .footerText {
        font-size: 10px;
        margin: 4px 0;
    }
}