.modal {
    display: none;
    background-color: black;
    position: absolute;
    top: 20%;
    left:32%;
    margin-right: 200px;
    color: #FFFFFF;
}
.modalTitle {
    color: red;
    text-align: center;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-size: 50px;
}
.modalPicture {
    position: absolute;
    right: -100px;
    top: -100px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.modalDescription {
    margin: 75px;
    font-size: 30px;
    text-align: center;
    line-height: 1.5;
    font-family: 'alumni sans', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
